<div class="form-container">
  <a routeLink="/login" id="goback">Go back</a>
  <h2>Email Login</h2>

  <span class="error" *ngIf = "error" [@fallIn]='state'>{{ error }}</span>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div *ngFor="let key of modelKeys">
      <input type="text" placeholder="Enter {{key}}" formControlName="{{key}}" name="{{key}}" class="txt" >
    </div>
    <button type="submit" [disabled]="!form.valid" class="basic-btn">Log in</button>
    <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>    
</div>




  <!--
  <h2>Custom Login</h2>

  <span class="error" *ngIf = "error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
    <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>    
</div>
-->